body {
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    width: 300px;
    height: 400px;
    color: white;
    background-color: #22092C;
    text-align: center;

  }
  
  .popup-container {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  input[type=text]{
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input[type=text]:focus{
    box-shadow:0 0 4px 0 darkgrey;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60;
  }