body {
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    width: 350px;
    height: 70px;
    color: white;
    background-color: #22092C;
    text-align: center;

  }
  
  .popup-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .searchBar {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #searchQueryInput {
    width: 100%;
    height: 2rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    padding: 0 0 0 0;
    font-size: 1rem;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }

  .back-n-forward {
    display: flex;
    flex-direction: row;
  }
  #back, #forward {
    height: min-content;
  background: darkgrey;
  }
  #back:focus, #forward:focus {
    outline: none;
}

#loading-svg {
  display: none;
}

#timestamp-controller{
  display: none;
}
